RetailBankingSystem-war/web/WEB-INF/wsdl/localhost_8080/TransactionAuthorizationWebService/TransactionAuthorizationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.ws.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.ws.ejb/" name="TransactionAuthorizationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.ws.ejb/" schemaLocation="http://localhost:8080/TransactionAuthorizationWebService/TransactionAuthorizationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="createNewVisaClearingRecord">
<part name="parameters" element="tns:createNewVisaClearingRecord"/>
</message>
<message name="createNewVisaClearingRecordResponse">
<part name="parameters" element="tns:createNewVisaClearingRecordResponse"/>
</message>
<message name="createTransactionToBeAuthorized">
<part name="parameters" element="tns:createTransactionToBeAuthorized"/>
</message>
<message name="createTransactionToBeAuthorizedResponse">
<part name="parameters" element="tns:createTransactionToBeAuthorizedResponse"/>
</message>
<message name="getAllPendingTransactionsToBeAuthorized">
<part name="parameters" element="tns:getAllPendingTransactionsToBeAuthorized"/>
</message>
<message name="getAllPendingTransactionsToBeAuthorizedResponse">
<part name="parameters" element="tns:getAllPendingTransactionsToBeAuthorizedResponse"/>
</message>
<message name="getTransactionToBeAuthorizedById">
<part name="parameters" element="tns:getTransactionToBeAuthorizedById"/>
</message>
<message name="getTransactionToBeAuthorizedByIdResponse">
<part name="parameters" element="tns:getTransactionToBeAuthorizedByIdResponse"/>
</message>
<portType name="TransactionAuthorizationWebService">
<operation name="createNewVisaClearingRecord">
<input wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/createNewVisaClearingRecordRequest" message="tns:createNewVisaClearingRecord"/>
<output wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/createNewVisaClearingRecordResponse" message="tns:createNewVisaClearingRecordResponse"/>
</operation>
<operation name="createTransactionToBeAuthorized">
<input wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/createTransactionToBeAuthorizedRequest" message="tns:createTransactionToBeAuthorized"/>
<output wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/createTransactionToBeAuthorizedResponse" message="tns:createTransactionToBeAuthorizedResponse"/>
</operation>
<operation name="getAllPendingTransactionsToBeAuthorized">
<input wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/getAllPendingTransactionsToBeAuthorizedRequest" message="tns:getAllPendingTransactionsToBeAuthorized"/>
<output wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/getAllPendingTransactionsToBeAuthorizedResponse" message="tns:getAllPendingTransactionsToBeAuthorizedResponse"/>
</operation>
<operation name="getTransactionToBeAuthorizedById">
<input wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/getTransactionToBeAuthorizedByIdRequest" message="tns:getTransactionToBeAuthorizedById"/>
<output wsam:Action="http://session.ws.ejb/TransactionAuthorizationWebService/getTransactionToBeAuthorizedByIdResponse" message="tns:getTransactionToBeAuthorizedByIdResponse"/>
</operation>
</portType>
<binding name="TransactionAuthorizationWebServicePortBinding" type="tns:TransactionAuthorizationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNewVisaClearingRecord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransactionToBeAuthorized">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllPendingTransactionsToBeAuthorized">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransactionToBeAuthorizedById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransactionAuthorizationWebService">
<port name="TransactionAuthorizationWebServicePort" binding="tns:TransactionAuthorizationWebServicePortBinding">
<soap:address location="http://localhost:8080/TransactionAuthorizationWebService/TransactionAuthorizationWebService"/>
</port>
</service>
</definitions>