RetailBankingSystem-war/web/WEB-INF/wsdl/localhost_8080/SACHWebService/SACHWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://session.ws.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://session.ws.ejb/">

<xs:element name="SACHNonStandingGIROTransferMTD" type="tns:SACHNonStandingGIROTransferMTD"/>

<xs:element name="SACHNonStandingGIROTransferMTDResponse" type="tns:SACHNonStandingGIROTransferMTDResponse"/>

<xs:element name="SACHRegularGIROTransferMTD" type="tns:SACHRegularGIROTransferMTD"/>

<xs:element name="SACHRegularGIROTransferMTDResponse" type="tns:SACHRegularGIROTransferMTDResponse"/>

<xs:element name="SACHTransferMTD" type="tns:SACHTransferMTD"/>

<xs:element name="SACHTransferMTDResponse" type="tns:SACHTransferMTDResponse"/>

<xs:element name="addNewSACH" type="tns:addNewSACH"/>

<xs:element name="addNewSACHResponse" type="tns:addNewSACHResponse"/>

<xs:element name="clearMerlionReceivedCheque" type="tns:clearMerlionReceivedCheque"/>

<xs:element name="clearMerlionReceivedChequeResponse" type="tns:clearMerlionReceivedChequeResponse"/>

<xs:element name="retrieveSACHById" type="tns:retrieveSACHById"/>

<xs:element name="retrieveSACHByIdResponse" type="tns:retrieveSACHByIdResponse"/>

<xs:complexType name="SACHRegularGIROTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHRegularGIROTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="addNewSACH">
<xs:sequence>
<xs:element name="otherTotalCredit" type="xs:double" minOccurs="0"/>
<xs:element name="merlionTotalCredit" type="xs:double" minOccurs="0"/>
<xs:element name="currentTime" type="xs:string" minOccurs="0"/>
<xs:element name="bankNames" type="xs:string" minOccurs="0"/>
<xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
<xs:element name="creditAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="creditBank" type="xs:string" minOccurs="0"/>
<xs:element name="debitAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="debitBank" type="xs:string" minOccurs="0"/>
<xs:element name="currentTimeMilis" type="xs:long" minOccurs="0"/>
<xs:element name="creditAmt" type="xs:double" minOccurs="0"/>
<xs:element name="sachStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewSACHResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHNonStandingGIROTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHNonStandingGIROTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="retrieveSACHById">
<xs:sequence>
<xs:element name="sachId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveSACHByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:sach" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sach">
<xs:sequence>
<xs:element name="bankATotalCredit" type="xs:double" minOccurs="0"/>
<xs:element name="bankBTotalCredit" type="xs:double" minOccurs="0"/>
<xs:element name="bankNames" type="xs:string" minOccurs="0"/>
<xs:element name="creditAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="creditAmt" type="xs:double" minOccurs="0"/>
<xs:element name="creditBank" type="xs:string" minOccurs="0"/>
<xs:element name="currentTime" type="xs:string" minOccurs="0"/>
<xs:element name="currentTimeMilis" type="xs:long" minOccurs="0"/>
<xs:element name="debitAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="debitBank" type="xs:string" minOccurs="0"/>
<xs:element name="failedReason" type="xs:string" minOccurs="0"/>
<xs:element name="paymentMethod" type="xs:string" minOccurs="0"/>
<xs:element name="sachId" type="xs:long" minOccurs="0"/>
<xs:element name="sachStatus" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="clearMerlionReceivedCheque">
<xs:sequence>
<xs:element name="chequeNum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clearMerlionReceivedChequeResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>