RetailBankingSystem-ejb/src/conf/wsdl/localhost_8080/OtherBanksWebService/OtherBanksWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://session.ws.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://session.ws.ejb/">

<xs:element name="retrieveBankAccountByNum" type="tns:retrieveBankAccountByNum"/>

<xs:element name="retrieveBankAccountByNumResponse" type="tns:retrieveBankAccountByNumResponse"/>

<xs:complexType name="retrieveBankAccountByNum">
<xs:sequence>
<xs:element name="otherBankAccountNum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retrieveBankAccountByNumResponse">
<xs:sequence>
<xs:element name="return" type="tns:otherBankAccount" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="otherBankAccount">
<xs:sequence>
<xs:element name="availableBankAccountBalance" type="xs:string" minOccurs="0"/>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="otherBankAccountId" type="xs:long" minOccurs="0"/>
<xs:element name="otherBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="otherBankAccountTransaction" type="tns:otherBankAccountTransaction" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="otherBankAccountType" type="xs:string" minOccurs="0"/>
<xs:element name="otherBankCheque" type="tns:otherBankCheque" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="totalBankAccountBalance" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="otherBankAccountTransaction">
<xs:sequence>
<xs:element name="otherAccountCredit" type="xs:string" minOccurs="0"/>
<xs:element name="otherAccountDebit" type="xs:string" minOccurs="0"/>
<xs:element name="otherBankAccount" type="tns:otherBankAccount" minOccurs="0"/>
<xs:element name="otherTransactionCode" type="xs:string" minOccurs="0"/>
<xs:element name="otherTransactionDate" type="xs:string" minOccurs="0"/>
<xs:element name="otherTransactionId" type="xs:long" minOccurs="0"/>
<xs:element name="otherTransactionRef" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="otherBankCheque">
<xs:sequence>
<xs:element name="chequeId" type="xs:long" minOccurs="0"/>
<xs:element name="chequeNum" type="xs:string" minOccurs="0"/>
<xs:element name="issuedBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="otherBankAccount" type="tns:otherBankAccount" minOccurs="0"/>
<xs:element name="receivedBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="receivedCustomerMobile" type="xs:string" minOccurs="0"/>
<xs:element name="receivedCustomerName" type="xs:string" minOccurs="0"/>
<xs:element name="transactionAmt" type="xs:string" minOccurs="0"/>
<xs:element name="transactionDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
