RetailBankingSystem-ejb/src/conf/xml-resources/web-service-references/SACHWebService/wsdl/localhost_8080/SACHWebService/SACHWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.ws.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.ws.ejb/" name="SACHWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.ws.ejb/" schemaLocation="http://localhost:8080/SACHWebService/SACHWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="SACHRegularGIROTransferMTD">
<part name="parameters" element="tns:SACHRegularGIROTransferMTD"/>
</message>
<message name="SACHRegularGIROTransferMTDResponse">
<part name="parameters" element="tns:SACHRegularGIROTransferMTDResponse"/>
</message>
<message name="SACHTransferMTD">
<part name="parameters" element="tns:SACHTransferMTD"/>
</message>
<message name="SACHTransferMTDResponse">
<part name="parameters" element="tns:SACHTransferMTDResponse"/>
</message>
<message name="clearMerlionReceivedCheque">
<part name="parameters" element="tns:clearMerlionReceivedCheque"/>
</message>
<message name="clearMerlionReceivedChequeResponse">
<part name="parameters" element="tns:clearMerlionReceivedChequeResponse"/>
</message>
<message name="SACHNonStandingGIROTransferMTD">
<part name="parameters" element="tns:SACHNonStandingGIROTransferMTD"/>
</message>
<message name="SACHNonStandingGIROTransferMTDResponse">
<part name="parameters" element="tns:SACHNonStandingGIROTransferMTDResponse"/>
</message>
<portType name="SACHWebService">
<operation name="SACHRegularGIROTransferMTD">
<input wsam:Action="http://session.ws.ejb/SACHWebService/SACHRegularGIROTransferMTDRequest" message="tns:SACHRegularGIROTransferMTD"/>
<output wsam:Action="http://session.ws.ejb/SACHWebService/SACHRegularGIROTransferMTDResponse" message="tns:SACHRegularGIROTransferMTDResponse"/>
</operation>
<operation name="SACHTransferMTD">
<input wsam:Action="http://session.ws.ejb/SACHWebService/SACHTransferMTDRequest" message="tns:SACHTransferMTD"/>
<output wsam:Action="http://session.ws.ejb/SACHWebService/SACHTransferMTDResponse" message="tns:SACHTransferMTDResponse"/>
</operation>
<operation name="clearMerlionReceivedCheque">
<input wsam:Action="http://session.ws.ejb/SACHWebService/clearMerlionReceivedChequeRequest" message="tns:clearMerlionReceivedCheque"/>
<output wsam:Action="http://session.ws.ejb/SACHWebService/clearMerlionReceivedChequeResponse" message="tns:clearMerlionReceivedChequeResponse"/>
</operation>
<operation name="SACHNonStandingGIROTransferMTD">
<input wsam:Action="http://session.ws.ejb/SACHWebService/SACHNonStandingGIROTransferMTDRequest" message="tns:SACHNonStandingGIROTransferMTD"/>
<output wsam:Action="http://session.ws.ejb/SACHWebService/SACHNonStandingGIROTransferMTDResponse" message="tns:SACHNonStandingGIROTransferMTDResponse"/>
</operation>
</portType>
<binding name="SACHWebServicePortBinding" type="tns:SACHWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="SACHRegularGIROTransferMTD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SACHTransferMTD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="clearMerlionReceivedCheque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="SACHNonStandingGIROTransferMTD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SACHWebService">
<port name="SACHWebServicePort" binding="tns:SACHWebServicePortBinding">
<soap:address location="http://localhost:8080/SACHWebService/SACHWebService"/>
</port>
</service>
</definitions>