RetailBankingSystem-ejb/src/conf/xml-resources/web-service-references/SACHWebService/wsdl/localhost_8080/SACHWebService/SACHWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://session.ws.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://session.ws.ejb/">

<xs:element name="SACHNonStandingGIROTransferMTD" type="tns:SACHNonStandingGIROTransferMTD"/>

<xs:element name="SACHNonStandingGIROTransferMTDResponse" type="tns:SACHNonStandingGIROTransferMTDResponse"/>

<xs:element name="SACHRegularGIROTransferMTD" type="tns:SACHRegularGIROTransferMTD"/>

<xs:element name="SACHRegularGIROTransferMTDResponse" type="tns:SACHRegularGIROTransferMTDResponse"/>

<xs:element name="SACHTransferMTD" type="tns:SACHTransferMTD"/>

<xs:element name="SACHTransferMTDResponse" type="tns:SACHTransferMTDResponse"/>

<xs:element name="clearMerlionReceivedCheque" type="tns:clearMerlionReceivedCheque"/>

<xs:element name="clearMerlionReceivedChequeResponse" type="tns:clearMerlionReceivedChequeResponse"/>

<xs:element name="passNonStandingGIROToSACH" type="tns:passNonStandingGIROToSACH"/>

<xs:element name="passNonStandingGIROToSACHResponse" type="tns:passNonStandingGIROToSACHResponse"/>

<xs:element name="passStandingGIROToSACH" type="tns:passStandingGIROToSACH"/>

<xs:element name="passStandingGIROToSACHResponse" type="tns:passStandingGIROToSACHResponse"/>

<xs:complexType name="SACHRegularGIROTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHRegularGIROTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="passNonStandingGIROToSACH">
<xs:sequence>
<xs:element name="customerName" type="xs:string" minOccurs="0"/>
<xs:element name="customerMobile" type="xs:string" minOccurs="0"/>
<xs:element name="billReference" type="xs:string" minOccurs="0"/>
<xs:element name="billingOrganizationName" type="xs:string" minOccurs="0"/>
<xs:element name="creditBank" type="xs:string" minOccurs="0"/>
<xs:element name="creditBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="debitBank" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="paymemtLimit" type="xs:string" minOccurs="0"/>
<xs:element name="billStatus" type="xs:string" minOccurs="0"/>
<xs:element name="paymentFrequency" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passNonStandingGIROToSACHResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SACHNonStandingGIROTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHNonStandingGIROTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="SACHTransferMTD">
<xs:sequence>
<xs:element name="fromBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="toBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="transferAmt" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SACHTransferMTDResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="passStandingGIROToSACH">
<xs:sequence>
<xs:element name="customerName" type="xs:string" minOccurs="0"/>
<xs:element name="customerMobile" type="xs:string" minOccurs="0"/>
<xs:element name="billReference" type="xs:string" minOccurs="0"/>
<xs:element name="billingOrganizationName" type="xs:string" minOccurs="0"/>
<xs:element name="creditBank" type="xs:string" minOccurs="0"/>
<xs:element name="creditBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="debitBank" type="xs:string" minOccurs="0"/>
<xs:element name="debitBankAccountNum" type="xs:string" minOccurs="0"/>
<xs:element name="paymemtLimit" type="xs:string" minOccurs="0"/>
<xs:element name="billStatus" type="xs:string" minOccurs="0"/>
<xs:element name="buttonRender" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="passStandingGIROToSACHResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="clearMerlionReceivedCheque">
<xs:sequence>
<xs:element name="chequeNum" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="clearMerlionReceivedChequeResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>